.about-us {
    width: 100%;
    height: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__inner { 
    display: flex;
    justify-content: space-between;
}

.about-us-left {
    width: 690px;
}

.about-us__right {
    width: 590px;
    margin-left: 100px;
}

.about-us__title {
    margin-bottom: 50px;
    font-size: 70px;
    line-height: 90px;
    color: #333333;
    font-weight: 800;
}

.about-us__text {
    margin-bottom: 50px;
    font-size: 19px;
    line-height: 32px;
    color: #333333;
}

.about-us__link {
    min-width: 125px;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #4680FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-us__arrow {
    width: 22px;
    height: 14px;
    margin: 15px 1px 16px 27px;
}