@import "reset.css";
@import "poppins_font.css";
@import "header.css";
@import "../main/banner.css";
@import "../main/about-us.css";
@import "../main/steps.css";
@import "../main/new-profiles.css";
@import "footer.css";

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}


.container {
  max-width: 1390px;
  width: 100%;
  margin: 0 auto;
}

a {
    text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media all and (max-width: 1389px) and (min-width: 1024px){
  .container {
    max-width: 904px;
  }
}

@media all and (max-width: 1023px){
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}