.filters {
    max-width: 217px;
    position: absolute;
    top: 543px;
    right: 0;
    bottom: 0;
    left: 55px;
}

.btn-block {
    display: none;
}

.filters__title {
    font-size: 50px;
    line-height: 70px;
    font-weight: 800;
    color: #333333;
    margin-bottom: 25px;
}

.filter-title {
    font-size: 30px;
    line-height: 54px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 7px;
}

.country__select {
    width: 217px;
    height: 60px;
    padding-left: 20px;
    color: #C9C9C9;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url("../../static/icons/select_arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 40px;
}
.position-block {
    margin-bottom: 32px;
}

.checkbox__item:not(:last-child){
    margin-bottom: 7px;
}

.checkbox__name {
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}


/* Mob only */
@media all and (max-width: 1023px){
    .filters {
        display: none;
    }

    .btn-block__filters {
        display: none;
    }

    .filters-form {
        margin-top: 12px;
    }
    
    .filter-title {
        font-size: 18px;
        line-height: 32px;
        font-weight: 600;
        color: #333333;
        margin-bottom: 7px;
    }

    .search-form__input {
        font-size: 14px;
        line-height: 23px;
        padding: 0 15px;
    }

    .btn-block {
        display: block;
        border-top: 1px solid #C9C9C9;
        border-bottom: 1px solid #C9C9C9;
        margin-bottom: 40px;
        padding: 20px
    }

    .filters-icon {
        margin-right: 11px;
    }

    .filters-btn  { 
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 18px;
        line-height: 32px;
        cursor: pointer;
    }

    .filters-btn_blue {
        color: #4680FF;
    }
    
    .show {
        display: block;
    }
}