.search-frame {
    margin: 50px 0 100px;
}

.search-frame-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-frame__title {
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    color: #333333;
    margin-bottom: 25px;
}

.search-frame__text {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #8B8B8B;
    margin-bottom: 25px;
}

.search-form__search {
    width: 830px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C9C9C9;
    background-color: #fff;
    overflow: hidden;
    padding-right: 10px;
}

.search-form__input {
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    line-height: 28px;
    color: #8B8B8B;
    padding: 0 15px;
}

.search-form__submit {
    width: 180px;
    height: 60px;
    background-color: #4680FF;
    font-size: 19px;
    line-height: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 33px;
}

.btn-text {
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
}

.icon-search {
    margin-left: 20px;
}