.steps {
    width: 100%;
    margin: 0 auto;
    padding: 150px 265px;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
}

.steps-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.steps-discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.steps__title {
    font-size: 70px;
    line-height: 90px;
    font-weight: 800;
    color: #333333;
}

.steps__text {
    font-size: 18px;
    line-height: 32px;
    color: #333333;
}

.steps__button {
    min-width: 310px;
    width: 310px;
    height: 60px;
    background-color: #4680FF;
    color: #FFFFFF;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anchor {
    margin-left: 20px;
}

.steps-img {
    max-width: 550px;
}

.steps-img__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steps__button_mob {
    display: none;
}

.steps-bottom {
    display: flex;
    justify-content: center;
}

.steps-bottom__point {
    width: 366px;
}

.steps-bottom__point:not(:last-child) {
    margin-right: 140px;
}

.point-number {
    width: 64px;
    font-size: 30px;
    line-height: 54px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 16px;
    background-color: #4680FF;
    margin-bottom: 44px;
    text-align: center;
}

.point-title {
    font-size: 30px;
    line-height: 54px;
    text-align: center;
    font-weight: 600;
    color: #333333;
    margin-bottom: 15px;
}

.point-text {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #C9C9C9;
}

/* Mob only */
@media all and (max-width: 1023px){
    .steps {
        padding: 50px 0;
    }

    .steps-top {
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .steps__title {
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .steps__text {
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 40px;
        text-align: center;
    }

    .steps__button {
        display: none;
    }

    .steps__button_mob {
        display: block;
        width: 180px;
        height: 50px;
        background-color: #4680FF;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .anchor {
        margin-left: 23px;
    }

    .steps-bottom {
        flex-direction: column;
    }
    
    .steps-bottom__point {
        width: 335px;
    }
    
    .steps-bottom__point:not(:last-child) {
        margin-right: 0;
        margin-bottom: 22px;
    }
    
    .point-number {
        width: 44px;
        font-size: 25px;
        line-height: 45px;
        padding-left: 10px;
        margin-bottom: 44px;
    }

    .point-title {
        font-size: 25px;
        line-height: 45px;
        font-weight: 700;
        margin-bottom: 4px;
    }
    
    .point-text {
        font-size: 14px;
        line-height: 23px;
    }

}