.banner{
    width: 100%;
    height: 790px;
    margin: 0 auto;
    left: 0px;
    top: 150px;
    background: url('../../static/banner.jpg') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-inner{
    width: 1053px;
    height: auto;
    background-color: #FFFFFF;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 63px 0 74px;
}

.banner-inner__search{
    border: 1px solid #C9C9C9;
    min-height: 80px;
}

.banner__title{
  font-weight: bold;
  font-size: 100px;
  line-height: 150px;
  color: #333333;
  margin-bottom: 50px;
}

.banner__title_highlighted{
  color: #4680FF;
}

.banner-form__search{
  width: 830px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C9C9C9;
  background-color: #fff;
  overflow: hidden;
  padding-right: 10px;
}

.banner-form__input{
  height: 80px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  line-height: 28px;
  color: #8B8B8B;
  padding: 0 15px;
}

.banner-form__submit{
  width: 180px;
  height: 60px;
  background-color: #4680FF;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 33px;
}

.banner-form__submit .icon-search {
  margin-left: 20px;
} 

/* Tablet only */
@media all and (min-width: 1024px) and (max-width: 1390px){
  .banner{
    height: 650px;
  }
  
  .banner-inner{
    width: 700px;
  }

  .banner__title{
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 25px;
  }

  .banner-inner__search{
    min-height: 50px;
}

  .banner-form__search{
    width: 600px;
    height: 50px;
    padding-right: 0;
  }

  .banner-form__input{
    font-size: 16px;
    line-height: 22px;
    height: 60px;
  }
  
  .banner-form__submit{
    height: 60px;
    width: 165px;
    height: 60px;
    font-size: 16px;
    line-height: 22px;
  }
}

/* Mob only */
@media all and (max-width: 1023px){
  .banner{
    height: 587px;
  }

  .banner-inner{
    width: 335px;
  }

  .banner__title{
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 43px;
    text-align: center;
  }

  .banner-form__search{
    width: 290px;
    height: 50px;
    padding-right: 0;
  }

  .btn-text{
    display: none;
  }

  .banner-form__input{
    font-size: 14px;
    line-height: 23px;
    height: 50px;
  }
  
  .banner-form__submit{
    background-color: transparent;
    width: 50px;
    height: 50px;
  }

  .banner-form__submit .icon-search {
    filter: brightness(50%);
  } 
}